<ul class="flex gap-4 items-center">
    <li class="text-primary"><a href="/">{{__ "home_page.name"}}</a></li>
    <li class="text-primary"><a href="/components">{{__ "components_page.name"}}</a></li>
</ul>